.subheader {
    font-family: Fino, serif;
    color: var(--main-text-color);
    font-size: 6rem;
    margin: 3rem 3rem;
}

.body-text {
    font-family: Protipo, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: white;
    text-align: justify;
    margin: 2rem 3rem 2rem 3rem;
}

.hero {
    margin-top: 2rem;
    grid-row-start: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 768px) {
    .hero {
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
