.footer {
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
    display: block;
    text-align: center;
    background: var(--main-bg-color);
    height: 2vh;
    width: 100%;
    color: white;
    font-family: Protipo, sans-serif;
    font-size: 1.5rem;
}
