.footer {
    position: relative;
    display: block;
    text-align: center;
    background: var(--main-bg-color);
    height: 2vh;
    width: 100%;
    color: white;
    font-family: Protipo, sans-serif;
}
