.main-body-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(
        2,
        1fr
    );
    grid-template-rows: 96vh;
    margin-top: 10vh;
}

.left {
}

.right {
}

.main-body-subheader {
    font-family: Fino, serif;
    color: var(--main-text-color);
    font-size: 6rem;
    margin: 3rem 3rem;
    font-weight: bold;
}

.main-body-text {
    font-family: Protipo, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: white;
    width: 80%;
    text-align: justify;
    margin: 2rem 3rem 2rem 3rem;
}

.main-body-image {
    margin: 3rem;
}

@media screen and (min-width: 2000px) {
    .main-body-image {
    }
}

.main-body-hero {
    font-family: bello-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    color: white;
    margin-left: 3rem;
    grid-column-start: 1;
    grid-column-end: 2;
}

@media screen and (max-width: 768px) {
    .main-body-container {
        grid-template-rows: repeat(
            2,
            100%
        );
        grid-template-columns: 100vw;
        margin-top: 10vh;
    }
    .left {
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
    }

    .right {
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        display: grid;
        grid-template-rows: 0.5fr 1fr;
    }

    .main-body-subheader {
        margin-left: 3rem;
    }

    .main-body-text {
        font-size: 4rem;
        width: auto;
    }
    .main-body-hero {
        font-size: 9rem;
        margin: 12rem 0 0 3rem;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .main-body-image {
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
