@import url("https://use.typekit.net/gtw7drm.css");

.navbar {
    width: 100vw;
    height: 10vh;
    background: #3c3f58;
    color: var(--main-text-color);
    margin: 0;
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: 10vh;
}

.links {
    display: inline;
    font-family: protipo, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: repeat(
        4,
        1fr
    );
    grid-template-rows: 10vh;
    margin: 0;
    padding: 0;
}

.links li {
    text-decoration: underline;
    text-transform: uppercase;
    display: inline;
    justify-self: center;
    align-self: center;
    margin-right: 4rem;
}

.title {
    display: inline;
    font-family: fino, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: start;
    align-self: center;
}
