.gridContainer {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(
        3,
        15vh
    );
    grid-template-rows: repeat(4, 15vh);
    gap: 3vw 3vw;
    font-size: 1vw;
}

@media screen and (max-width: 768px) {
    .gridContainer {
        gap: 0.7vw 0.7vw;
        font-size: 3vw;
    }
}

.gridContainer i {
    align-self: center;
    justify-self: center;
}
